/* basic styles */

html {
  font-size: 100%;
  line-height: 1.5rem; /* Our line height is 1.5 of the font size */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 auto; /* Top and right = 0, left and right = auto */
  padding: 0;
  min-height: 100%;
  max-width: 100%;
}

p {
  color: black;
  font: times;
}

*,
*::before, /* Everything else */
*::after {
  box-sizing: inherit;
}

img, /* Scalable images */
video {
  width: 100%;
  height: auto;
  display: block;
}

/* Hero styles */

.hero-box {
  display: grid;
  grid-template-columns: 1fr; /* One column screen sized */
  grid-template-rows: 1fr; /* One row screen sized */
  grid-gap: 0px;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}

.hero-image-box {
  height: 100vh; /* Based on how big the window is */
  width: 100%;
  display: grid;
  grid-column: 1 /-1; /* Css grid -> start at top go to bottom */
  grid-row: 1 / -1;
}

.hero-text-box {
  grid-column: 1 /-1; /* Css grid -> start at top go to bottom */
  grid-row: 1 / -1;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-heading {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-about-me {
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portrait-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
